@font-face {
  font-family: 'gotham';
  src: 
      url('/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'gotham-light';
  src: 
      url('/fonts/Gotham-Light.otf') format('opentype');
}

.main-section {
  height: 796px;
  padding: 0 110px;
  background: #408DDC;
  color: #fff;
  font-family: "gotham", sans-serif;
  display: flex;
  justify-content: center;
}
.main-section__wrapper {
  max-width: 1321px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-section__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.main-section__text {
  max-width: 585px;
  width: 100%;
}

.main-section__header {
  font-size: 50px;
  line-height: 56px;
}

.main-section__header--smaller {
  font-size: 40px;
}

.main-section__paragraph {
  font-size: 16px;
  line-height: 26px;
  font-family: "gotham-light", sans-serif;
}

.main-section__image {
  height: 515px;
  transform: translate(24px);
}