@font-face {
  font-family: 'gotham';
  src: 
      url('/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'gotham-light';
  src: 
      url('/fonts/Gotham-Light.otf') format('opentype');
  font-weight: 600;
}

.main-section {
  height: 796px;
  background: #408DDC;
  color: #fff;
  font-family: "gotham", sans-serif;
}

.main-section__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.main-section__header {
  font-size: 50px;
  line-height: 56px;
}

.main-section__header--smaller {
  font-size: 40px;
}

.main-section__paragraph {
  font-size: 1rem;
  line-height: 26px;
  font-family: "gotham-light", sans-serif;
}