@font-face {
  font-family: "gotham";
  src: url("/fonts/Gotham-Book.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "gotham-light";
  src: url("/fonts/Gotham-Light.otf") format("opentype");
}

.main-section {
  height: 796px;
  padding: 50px 125px;
  background: #408ddc;
  color: #fff;
  font-family: "gotham", sans-serif;
  display: flex;
  justify-content: center;
}

.main-section__wrapper {
  max-width: 1321px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.main-section__text {
  max-width: 585px;
  width: 100%;
  margin-right: 35px;
}

.main-section__header {
  font-size: 50px;
  line-height: 56px;
}

.main-section__header--smaller {
  font-size: 40px;
}

.main-section__paragraph {
  font-size: 16px;
  line-height: 26px;
  font-family: "gotham-light", sans-serif;
}

.main-section__image {
  max-width: 725px;
  width: 100%;
  transform: translate(24px);
}

@media (max-width: 1252px) {
  .main-section {
    height: max-content;
  }
  .main-section__wrapper {
    flex-direction: column-reverse;
  }
  .main-section__image {
    max-width: 500px;
    width: 100%;
    transform: translate(12px);
  }
  .main-section__header {
    font-size: 36px;
    line-height: 40px;
  }
  .main-section__header--smaller {
    font-size: 26px;
  }
  .main-section__text {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 700px) {
  .main-section {
    padding: 50px;
  }
  .main-section__logo {
    width: 50px;
  }
}

@media (max-width: 445px) {
  .main-section {
    padding: 20px;
  }
  .main-section__logo {
    width: 30px;
  }
  .main-section__image-wrapper {
    padding: 0 20px;
  }
  .main-section__header {
    font-size: 28px;
    line-height: 30px;
  }
  .main-section__header--smaller {
    font-size: 20px;
    line-height: 24px;
  }
  .main-section__paragraph {
    font-size: 14px;
    line-height: 24px;
  }
}
