.section {
  max-width: 1321px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section__header {
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  padding: 40px 0 30px;
  margin: 0;
}

.section__paragraph {
  margin: 0;
}
.section__paragraph--padding {
  padding-bottom: 30px;
}

.section__link {
  color: #5094E3;
}

.section__list {
  margin: 0;
}

.section__image {
  align-self: center;
  max-width: 1321px;
  width: 100%;
}
.section__image-laptop-video {
  padding: 0 0 15px;
}
.section__image-woman-and-laptop-1 {
  padding: 66px 0 50px;
}
.section__image-woman-and-laptop-3 {
  padding: 66px 0 43px;
}
.section__image-woman-and-laptop-2 {
  padding: 66px 0 50px;
}
.section__image-style {
  padding: 66px 0 0;
}
.section__image-specyfication {
  padding: 39px 0 9px;
}

@media (max-width: 1252px) {
  .section__header {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 445px) {
  .section__header {
    font-size: 28px;
    line-height: 30px;
  }
  .section__paragraph {
    font-size: 18px;
    line-height: 28px;
  }
  .section__image {
    padding: 20px 0;
  }
  .section__list {
    font-size: 18px;
    line-height: 28px;
    padding-left: 20px;
  }
}